@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}

<h2 style="text-align:center">Trang liên hệ</h2>
<table align="left">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td align="right">Người gửi: </td>
            <td>
                @Html.TextBox("From")
                @ViewData["Loi1"]
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right">Email: </td>
            <td>
                @Html.TextBox("Email")
                @ViewData["Loi2"]
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right">Số điện thoại: </td>
            <td>
                @Html.TextBox("SDT")
                @ViewData["Loi3"]
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right"><b>Tiêu đề bài gửi: </b></td>
            <td>
                @Html.TextBox("Tit")
                @ViewData["Loi4"]
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right">Nội dung: </td>
            <td>
                @Html.TextArea("content")
                @ViewData["Loi5"]
            </td>
        </tr>

        <tr style="height:40px">
            <td></td>
            <td>
                <input type="submit" value="Gửi" />
            </td>
        </tr>


    }
</table>
