@model WebPhuKien.Models.LIENHE
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutUserPageNoBanner.cshtml";
}

<h2 style="text-align:center">Trang liên hệ</h2>
<table align="left">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td align="right">Người gửi: </td>
            <td>
                @Html.TextBoxFor(model => model.HOTEN, new { @class = "text", type = "Text", required = "required" })
            <font color="red">@ViewData["Loi1"]</font>
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right">Email: </td>
            <td>
               @Html.TextBoxFor(model => model.EMAIL, new { @class = "text", type = "Email", required = "required" })
             <font color="red">@ViewData["Loi2"]</font>
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right">Số điện thoại: </td>
            <td>
                @Html.TextBoxFor(model => model.SDT, new { @class = "text", type = "Text"})
                <font color="red">@ViewData["Loi3"]</font>
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right"><b>Tiêu đề bài gửi: </b></td>
            <td>                
                @Html.TextBoxFor(model => model.TIEUDE, new { @class = "text", type = "Text", required = "required" })
                <br />
                <font color="red">@ViewData["Loi4"]</font>
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right">Nội dung: </td>
            <td>
                <textarea name="Noidung" style="width:400px;height:180px;" required></textarea>
                <br />
                <font color="red">@ViewData["Loi5"]</font>
            </td>
        </tr>

        <tr style="height:40px">
            <td></td>
            <td>
                <input type="submit" value="Gửi" />
            </td>
        </tr>


    }
</table>
