@{
    ViewBag.Title = "Changepass";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Đổi mật khẩu</h2>
<h1><font color="red">@ViewBag.Thongbao</font></h1>
<table align="left">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
                <tr style="height:40px">
                    <td align="right">Nhập mật khẩu cũ: </td>
                    <td>
                        <input type="password" name="password" />
                               @ViewData["Loi1"]
                    </td>
                </tr>
                 <tr style="height:40px">
                    <td align="right">Nhập mật khẩu mới: </td>
                    <td>
                        <input type="password" name="pass2" />
                        @ViewData["Loi2"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td align="right">Nhập lại mật khẩu: </td>
                    <td>
                        <input type="password" name="pass3" />
                        @ViewData["Loi3"]
                    </td>
                </tr>
                <tr style="height:40px">
            <td></td>
            <td>
                <input type="submit" value="Đổi mật khẩu" />
            </td>
        </tr>
}
    </table>