@using WebPhuKien.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<WebPhuKien.Models.CT_DDH>
@{
    ViewBag.Title = "Chitiethd";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    
}

        <h2>Chi Tiết Đơn Hàng</h2>
        <table class="table">
            <tr>
                <td>Hình</td>
                <td>Tên Sản Phẩm</td>
                <th>
                    Đơn Giá
                </th>
                <th>
                    Số Lượng
                </th>
                <th>Thành Tiền</th>
            </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("Capnhat1sptrongcthd", "Admin", new { SoHD = item.SoHD, IdSP = item.Idsp, URL = ViewData["url"].ToString() }))
        {
            Html.ValidationSummary(true);
            <tr>
                <td>
                    <img src="~/Hinhsanpham/@item.SANPHAM.Hinhanh" width="150px" height="150px"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SANPHAM.Tensanpham)
                </td>
                <td>
                    @String.Format("{0:0,0}", item.Dongia)
                </td>
                <td>
                    <input type="number" name="soluong" value="@item.Soluong" min="1" max="1000"/>
                </td>
                <td>
                    @{
                          decimal thanhtien = item.Soluong.Value *item.Dongia.Value;
                    }
                    @String.Format("{0:0,0}",thanhtien)
                </td>
                <td>
                    <input type="submit" value="Cập Nhật"/>
                </td>
            </tr>
        }
        }
</table>
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Chitiethd", new { SoHD = ViewBag.SoHD, page = page, URL = ViewData["url"].ToString() }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>

<h2 style="text-align:center">Thông Tin Đơn Đặt Hàng</h2>
<table align="center">
    
        @foreach (var item in Model)
        { 
        using (Html.BeginForm("Suattkhcthd", "Admin", new { SoHD = item.SoHD , URL = ViewData["url"].ToString()}))
        {
            Html.ValidationSummary(true);
        <tr style="text-align:center;height:75px">
            <td><b>Thông Tin Người Đặt</b></td>
        </tr>
        <tr style="height:40px">
            <td> Họ Tên Khách Hàng: </td>
            <td style="font-weight: bold">@item.DONDATHANG.KHACHHANG.Hoten  </td>
        </tr>
        <tr style="height:40px">
            <td> Địa Chỉ: </td>
            <td style="font-weight: bold"> @item.DONDATHANG.KHACHHANG.Diachi </td>
        </tr>
        <tr style="height:40px">
            <td> Điện thoại: </td>
            <td style="font-weight: bold"> @item.DONDATHANG.KHACHHANG.Sdt </td>
        </tr>
        <tr style="height:40px">
            <td> Ngày đặt: </td>
            <td style="font-weight: bold"> @item.DONDATHANG.Ngaydat.Value.ToString("dd/MM/yyyy")</td>
        </tr>
        <tr style="height:40px">
            <td> Ngày giao hàng: </td>
            <td>
                <input type="date" name="Ngaygiao" value="@item.DONDATHANG.Ngaygiao.Value.ToString("yyyy-MM-dd")"/>
                <font color="red">@ViewData["LoiNgayGiao"]</font>
            </td>
        </tr>
        <tr style="text-align:center;height:75px">
            <td><b>Thông  Tin Người Nhận</b></td>
        </tr>
        <tr style="height:40px">
            <td>
                Họ Tên Người nhận:
                <p style="color:red;"><i>@ViewData["LoiTen"]</i></p>
            </td>
            <td style="font-weight: bold"> <input type="text" value="@item.DONDATHANG.TenNguoiNhan" name="Tennguoinhan" /> </td>
        </tr>
        <tr style="height:40px">
            <td>
                Địa Chỉ Người nhận:
                @ViewData["LoiDiachi"]
            </td>
            <td style="font-weight: bold"> <input type="text" value="@item.DONDATHANG.Diachinguoinhan" name="Diachinhan" />  </td>
        </tr>
        <tr style="height:40px">
            <td>
                Số Điện thoại:
                @ViewData["LoiSdt"]
            </td>
            <td style="font-weight: bold"> <input type="text" value="@item.DONDATHANG.Sdtnguoinhan" name="Sdtnguoinhan" />  </td>
        </tr>
        <tr style="height:40px">
            <td>
                Email:
            </td>
            <td style="font-weight: bold"> <input type="text" value="@item.DONDATHANG.Emailnguoinhan" name="Emailnhan" />  </td>
        </tr>
        <tr style="height:40px">
            <td><a href="@Url.Action(ViewData["url"].ToString(),"Admin")">Trở Về</a></td>
            <td> <input type="submit" value="Cập Nhật Thông Tin Đơn Hàng" /></td>
        </tr>
            break;
            }
        }
</table>


    

