
@{
    ViewBag.Title = "CreateNSX";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm Nhà sản xuất</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Tạo mới</legend>
        <p>
            Nhập mã cho nhà sản xuất:
            @Html.TextBox("Idnsx")
            <br />
            <font color="red">@ViewData["Loi1"]</font>
            <font color="red">@ViewBag.Thongbao</font>
        </p>
        <p>
            Nhập tên nhà sản xuất:
            @Html.TextBox("Tennsx")
            <font color="red">@ViewData["Loi2"]</font>
        </p>
        <p>
            Địa chỉ:
            @Html.TextBox("Diachi")
            <font color="red">@ViewData["Loi3"]</font>
        </p>
        <p>
            Số điện thoại liên lạc:
            @Html.TextBox("Sdtnsx")
            <font color="red">@ViewData["Loi4"]</font>
        </p>
        <p>
            <input type="submit" value="Tạo mới" />
        </p>
    </fieldset>

}
@Html.ActionLink("Trở về trang trước", "NSX", "Admin")

