
@{
    ViewBag.Title = "CreateLSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm mới Loại sản phẩm</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Tạo mới</legend>
        <p>
            Nhập mã Loại:
            @Html.TextBox("Idloai")
            <br />
            <font color="red">@ViewData["Loi1"]</font>
                <font color="red">@ViewBag.Thongbao</font>
</p>
        <p>
            Nhập tên loại:
            @Html.TextBox("Tenloai")
            <br />
            <font color="red">@ViewData["Loi2"]</font>
        </p>
        <p>
            <input type="submit" value="Tạo mới" />
        </p>
    </fieldset>

}
@Html.ActionLink("Trở về trang trước", "LoaiSP", "Admin")

