
@{
    ViewBag.Title = "CreateNSX";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm Nhà sản xuất</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Tạo mới</legend>
        <p>
            Nhập mã cho nhà sản xuất:
            @Html.TextBox("Idnsx")
            <p style="color:red">@ViewData["Loi1"]</p>
    </p>
        <p>
            Nhập tên nhà sản xuất:
            @Html.TextBox("Tennsx")
            <p style="color:red">@ViewData["Loi2"]</p>
    </p>
        <p>
            Địa chỉ:
            @Html.TextBox("Diachi")
            <p style="color:red">@ViewData["Loi3"]</p>
    </p>
        <p>
            Số điện thoại liên lạc:
            @Html.TextBox("Sdtnsx")
           <p style="color:red">@ViewData["Loi4"]</p>
    </p>
        <p>
            <input type="submit" value="Tạo mới" />
        </p>
    </fieldset>

}
@Html.ActionLink("Trở về trang trước", "NSX", "Admin")

