
@{
    ViewBag.Title = "CreateLSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm mới Loại sản phẩm</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Tạo mới</legend>
        <p>
            Nhập mã Loại:
            @Html.TextBox("Idloai")
        <p style="color:red">@ViewData["Loi1"]</p>
    </p>
        <p>
            Nhập tên loại:
            @Html.TextBox("Tenloai")
        <p style="color:red">@ViewData["Loi2"]</p>
    </p>
        <p>
            <input type="submit" value="Tạo mới" />
        </p>
    </fieldset>

}
@Html.ActionLink("Trở về trang trước", "LoaiSP", "Admin")

