@model WebPhuKien.Models.LIENHE

@{
    ViewBag.Title = "DelPhanhoi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa phản hồi</h2>

<h3>CÓ chắc chắn muốn xóa phản hồi này</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tieude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tieude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noidung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Phanhoi")
        </div>
    }
</div>
