@model WebPhuKien.Models.THONGTIN

@{
    ViewBag.Title = "EditTTShop";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Điều chỉnh Thông tin Shop</h2>
<font color="red"><h3>@ViewBag.Thongbao</h3></font>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Tencuahang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tencuahang)
                @Html.ValidationMessageFor(model => model.Tencuahang)
                <p style="color:red"> @ViewData["Loi1"]</p>
        </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diachi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diachi)
                @Html.ValidationMessageFor(model => model.Diachi)
                <p style="color:red">@ViewData["Loi2"]</p>
        </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sdt1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sdt1)
                @Html.ValidationMessageFor(model => model.Sdt1)
                <p style="color:red">@ViewData["Loi3"]</p>
        </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sdt2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sdt2)
                @Html.ValidationMessageFor(model => model.sdt2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email1)
                @Html.ValidationMessageFor(model => model.Email1)
                <p style="color:red">@ViewData["Loi4"]</p>
        </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email2)
                @Html.ValidationMessageFor(model => model.Email2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Facebook, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Facebook)
                @Html.ValidationMessageFor(model => model.Facebook)
            </div>
        </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-default" />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Trở về trang trước", "TTShop")
</div>
