
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Trang chủ Admin</h2>
<hr />
    <h4>Các Danh Mục Quản Lý</h4>
    <hr />
    <table align="left">
        <tr>
            <td style="text-align:center;" colspan="2">Quản Lý Kho Hàng</td>
            <td style="width:100px"></td>
            <td style="text-align:center;" colspan="2">Quản Lý Khách Hàng</td>
        </tr>
        <tr style ="height:40px">
            <td style="text-align:right">Quản Lý Sản Phẩm</td>
            <td style="width:200px;text-align:center;"><a href="@Url.Action("Sanpham", "Admin")">Mở Trang</a></td>
            <td style="width:100px"></td>
            <td style="text-align:right">Quản Lý Thông Tin Khách Hàng</td>
            <td style="width:200px;text-align:center;"><a href="@Url.Action("Khachhang", "Admin")">Mở Trang</a></td>
        </tr>
        <tr style="height:40px">
            <td style="text-align:right">Quản Lý Loại Sản Phẩm</td>
            <td style="width:200px;text-align:center;"><a href="@Url.Action("LoaiSP", "Admin")">Mở Trang</a></td>
            <td style="width:100px"></td>
            <td style="text-align:right">Phản Hồi Từ Khách Hàng</td>
            <td style="width:200px;text-align:center;"><a href="@Url.Action("Phanhoi", "Admin")">Mở Trang</a></td>
        </tr>
        <tr style="height:40px">
            <td style="text-align:right">Quản Lý Nhà Sản Xuất</td>
            <td style="width:200px;text-align:center;"><a href="@Url.Action("NSX", "Admin")">Mở Trang</a></td>
            <td style="width:100px"></td>
            <td></td>
            <td></td>

        </tr>
        <tr style="height:30px">
            <td></td>
        </tr>
        <tr>
            <td style="text-align:center;" colspan="2">Hóa Đơn - Thống Kê</td>
            <td style="width:100px"></td>
            <td style="text-align:center;" colspan="2">Các Mục Khách</td>
        </tr>
        <tr style="height:40px">
            <td style="text-align:right">Hóa Đơn Chưa Hoàn Thành</td>
            <td style="width:200px;text-align:center;"><a href="@Url.Action("Dondathang", "Admin")">Mở Trang</a></td>
            <td style="width:100px"></td>
            <td style="text-align:right">Banner Quảng Cáo</td>
            <td style="width:200px;text-align:center;"><a href="@Url.Action("Banner", "Admin")">Mở Trang</a></td>
        </tr>
        <tr style="height:40px">
            <td style="text-align:right">Hóa Đơn Đã Hoàn Thành</td>
            <td style="width:200px;text-align:center;"><a href="@Url.Action("HoaDon", "Admin")">Mở Trang</a></td>
            <td style="width:100px"></td>
            <td style="text-align:right">Thông Tin Shop</td>
            <td style="width:200px;text-align:center;"><a href="@Url.Action("EditTTShop", "Admin")">Mở Trang</a></td>
        </tr>
        <tr style="height:40px">
            <td style="text-align:right">Thống Kê Hóa Đơn Trong Ngày</td>
            <td style="width:200px;text-align:center;"><a href="@Url.Action("HoaDon", "Admin")">Mở Trang</a></td>
            <td style="width:100px"></td>
            <td style="text-align:right">Đổi Mật Khẩu Admin</td>
            <td style="width:200px;text-align:center;"><a href="@Url.Action("Changepass", "Admin")">Mở Trang</a></td>
        </tr>
        <tr style="height:40px">
            <td style="text-align:right">Thống Kê Hóa Đơn Trong Tháng</td>
            <td style="width:200px;text-align:center;"><a href="@Url.Action("HoaDon", "Admin")">Mở Trang</a></td>
            <td style="width:100px"></td>
            <td></td>
            <td></td>
</table>

