@model IEnumerable<WebPhuKien.Models.LOAISANPHAM>

@{
    ViewBag.Title = "LoaiSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý Loại Sản phẩm</h2>

<p>
    @Html.ActionLink("Thêm mới", "CreateLSP")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tenloai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenloai)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "EditLSP", new { id=item.Idloai }) |
            @Html.ActionLink("Chi tiết", "DetailsLSP", new { id=item.Idloai }) |
            @Html.ActionLink("Xóa", "DeleteLSP", new { id=item.Idloai })
        </td>
    </tr>
}

</table>
