@model IEnumerable<WebPhuKien.Models.LIENHE>

@{
    ViewBag.Title = "Phanhoi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Hòm Thư Phản Hồi Từ Khách Hàng</h2>


<table class="table">
    <tr>
        <th style="text-align:center">
            Họ tên
        </th>
        <th style="text-align:center">
            Tiêu đề
        </th>
        <th style="text-align:center">
            Email
        </th>
        <th style="text-align:center">
            Số điện thoại
        </th>
        <th>Đã xem</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HOTEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIEUDE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>        
        <td>
            @Html.ActionLink("Chi Tiết", "ChitietPH", new { id =item.IDLIENHE})|
           @Html.ActionLink("Xóa", "DelPhanhoi", new { id = item.IDLIENHE })
        </td>

    </tr>
}
@Html.ActionLink("Trở về trang chủ","Index")
</table>
