@model WebPhuKien.Models.SANPHAM

@{
    ViewBag.Title = "Suasp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Điều Chỉnh Thông Tin Sản Phẩm</h2>

@using (Html.BeginForm("Suasp", "Admin", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Idsp)

        <div class="form-group">
            @Html.Label("ID: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               <div style="font:18px;padding: 5px 0 0 5px">@Model.Idsp</div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Nhà Sản Xuất", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdNsx")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Loại", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdLoai")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tên Sản Phẩm", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tensanpham)
                @Html.ValidationMessageFor(model => model.Tensanpham)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Thông Tin", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               <textarea name="Thongtin">@Model.Thongtin</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Số Lượng Còn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soluongcon)
                @Html.ValidationMessageFor(model => model.Soluongcon)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Đơn Giá", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dongia)
                @Html.ValidationMessageFor(model => model.Dongia)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Hình Ảnh", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               <input type="file" name="fileUpdate" />
               <img src="@Url.Content("~/Hinhsanpham/"+Model.Hinhanh)" height="200px" width="200px"/> (Ảnh hiện tại)
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ngày Cập Nhật", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="Ngaycapnhat" value="@Model.Ngaycapnhat.Value.ToString("yyyy-MM-dd")" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở Về", "Sanpham")
</div>
