@model WebPhuKien.Models.SANPHAM

@{
    ViewBag.Title = "Themsanpham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm sản phẩm mới</h2>

@using (Html.BeginForm("Themsanpham", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Idsp)
                @Html.ValidationMessageFor(model => model.Idsp)
                <font color="red">@ViewData["Loi1"]</font>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Nhà Sản Xuất", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdNsx")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Loại", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdLoai")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tên Sản Phẩm", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tensanpham)
                @Html.ValidationMessageFor(model => model.Tensanpham)
                <font color="red">@ViewData["Loi2"]</font>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Thông Tin", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="Thongtin" required>Mô Tả Thông Tin Sản Phẩm</textarea>
                <font color="red">@ViewData["Loi3"]</font>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Số Lượng Tồn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" value="1" name="soluong" min="1" required/>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Đơn Giá", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" min="1" name="dongia" required></div>
        </div>

        <div class="form-group">
            @Html.Label("Hình Ảnh", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileupload" />
                <font color="red">@ViewBag.Thongbao</font>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ngày Cập Nhật", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="Ngaycapnhat" value="@DateTime.Today.ToString("yyyy-MM-dd")"/>
                @Html.ValidationMessageFor(model => model.Ngaycapnhat)
                @Html.ViewData["Loi4"]
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm Mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở Về", "Sanpham")
</div>
