@using WebPhuKien.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<WebPhuKien.Models.DONDATHANG>

@{
    ViewBag.Title = "ThongKeThang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thống Kê Trong Tháng @DateTime.Now.Month/@DateTime.Now.Year</h2>

<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Ngày Đặt
        </th>
        <th>
            Ngày Giao
        </th>
        <th>
            Đã Thanh Toán
        </th>
        <th>
            Đã Giao Hàng
        </th>
        <th width="100px">
            Tên Người Nhận
        </th>
        <th width="100px">
            SĐT Liên Lạc
        </th>
        <th>
            Địa Chỉ Giao
        </th>
        <th>
            Email Liên Lạc
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
       
        using (Html.BeginForm("Capnhatdonhang", "Admin", new { SoHD = item.SoHD }))
        {
            Html.ValidationSummary(true);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @item.Ngaydat.Value.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.Ngaygiao.Value.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @if (item.Dathanhtoan.Value == true)
                    {
                        <input type="checkbox" id="Thanhtoan" name="Thanhtoan" value="" checked />
                    }
                    else
                    {
                        <input type="checkbox" id="Thanhtoan" name="Thanhtoan" value="" />
                    }
                </td>
                <td>
                    @if (item.Tinhtranggiaohang.Value == true)
                    {
                        <input type="checkbox" id="Tinhtrang" name="Tinhtrang" value="" checked />
                    }
                    else
                    {
                        <input type="checkbox" id="Tinhtrang" name="Tinhtrang" value="" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNguoiNhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sdtnguoinhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diachinguoinhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emailnguoinhan)
                </td>
                <td>
                    <input type="submit" value="Cập Nhật" />
                    @Html.ActionLink("Chi Tiết", "Chitiethd", new { SoHD = item.SoHD }) |
                    @Html.ActionLink("Delete", "Xoahd", new { SoHD = item.SoHD })
                </td>
            </tr>
        }
    }

</table>
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("ThongKeThang", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<div class="pull-right">
    <p>
        <font size="8" color="red">Tổng Doanh Thu: @String.Format("{0:0,0}", ViewBag.Doanhthu)</font> 
    </p>
</div>