
@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/_LayoutUserPageNoBanner.cshtml";
}

<h2 style="text-align:center">ĐĂNG KÝ THÀNH VIÊN</h2>
<table align="center">

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td align="right">Tên đăng nhập: </td>
            <td>
                @Html.TextBox("Username")
                <br />
                <font color="red">@ViewData["Loi1"]</font>
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right">Mật khẩu: </td>
            <td>
                @Html.Password("Password")<br />
                <font color="red">@ViewData["Loi2"]</font>
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right">Nhập lại mật khẩu: </td>
            <td>
                @Html.Password("Password2nd")<br />
                <font color="red">@ViewData["Loi3"]</font>
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td><b>Thông tin cá nhân</b></td>
        </tr>
        <tr style="height:40px">
            <td align="right">Họ Tên:</td>
            <td>
                @Html.TextBox("Hoten")<br />
                <font color="red">@ViewData["Loi4"]</font>
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right">Số điện thoại:</td>
            <td>
                @Html.TextBox("Sdt")<br />
                <font color="red">@ViewData["Loidt"]</font>
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right">Địa Chỉ:</td>
            <td>
                @Html.TextBox("Diachi")<br />
                <font color="red">@ViewData["Loidc"]</font>
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right">Email:</td>
            <td>
               @Html.TextBox("Email","", new { type="email"})<br />
                <font color="red">@ViewData["Loiemail"]</font>
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="submit" value="Đăng Ký" />
            </td>
        </tr>


    }
</table>

